@font-face {
  font-family: "nope8";
  src:
    url("/fonts/nope8/Nope8.ttf") format("truetype"),
    url("/fonts/nope8/Nope8.woff2") format("woff2"),
    url("/fonts/nope8/Nope8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
