@font-face {
  font-family: "nope8";
  src:
    url("/fonts/nope8/Nope8.ttf") format("truetype"),
    url("/fonts/nope8/Nope8.woff2") format("woff2"),
    url("/fonts/nope8/Nope8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("/fonts/roboto-mono/RobotoMono[wght].woff") format("woff-variations");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: url("/fonts/roboto-mono/RobotoMono-Italic[wght].woff")
    format("woff-variations");
}
