{% if page.title %} {% set page_data = page %} {% elif section.title %} {% set
page_data = section %} {% else %} {% set title = "Creative Coding Amsterdam" %}
{% set meta_title = "Creative Coding Amsterdam" %} {% set description =
"Creative Coding Amsterdam is a community for anyone fascinated by the creative
side of programming — or even the broader world of art and technology." %} {%
endif %} {% if page_data %} {% set title = page_data.title ~ " · Creative Coding
Amsterdam" | striptags | safe %} {% set meta_title = page_data.title | striptags
| safe %} {% if page_data.extra.intro %} {% set description =
page_data.extra.intro %} {% else %} {% set description = page_data.content |
striptags | truncate(length=150) %} {% endif %} {% endif %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/styles.css" />

    <link rel="icon" href="/favicon/icon.ico?v=1.0" sizes="32x32" />
    <link rel="icon" href="/favicon/icon.svg?v=1.0" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png?v=1.0" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />

    {% if current_url %}
    <meta property="og:url" content="{{ current_url | safe }}" />
    {% else %} {# 404 error page #}
    <meta property="og:url" content="https://cca.codes" />
    {% endif %}

    <meta name="twitter:title" content="{{ meta_title }}" />
    <meta name="twitter:description" content="{{ description }}" />

    {% if page_data.extra.image %}
    <meta
      property="twitter:image"
      content="{{ config.base_url | safe }}{{ page_data.extra.image }}"
    />
    <meta
      property="og:image"
      content="{{ config.base_url | safe }}{{ page_data.extra.image }}"
    />
    {% else %}
    <meta
      property="twitter:image"
      content="{{ config.base_url | safe }}/img/home/meetup-2.jpg"
    />
    <meta
      property="og:image"
      content="{{ config.base_url | safe }}/img/home/meetup-2.jpg"
    />
    {% endif %} {% block head %}{% endblock %}
  </head>

  <body class="enable-hover-effect">
    <div class="app">
      {% include "partials/header.html" %}
      <main class="main grid">{% block content %} {% endblock %}</main>
      {% include "partials/footer.html" %}
    </div>

    {% include "partials/contact-dialog.html" %} {% block scripts %} {% endblock
    %}

    <script src="/js/app.js"></script>

    <script async src="https://tally.so/widgets/embed.js"></script>

    {% if config.mode == "build" %}
    <script
      async
      src="https://umami.d17e.dev/script.js"
      data-website-id="86c91eb4-4ac8-4955-bcb0-b1c9de3a6715"
    ></script>
    {% endif %}
  </body>
</html>
