{% extends "base.html" %}

{% block content %}

<div class="cell cell--4 padding">
  <h1>{{section.title}}</h1>
</div>

<div class="padding content">{{ section.content | safe }}</div>
<div class="grid challenges">
  {% for page in section.pages %}
    <a class="challenge cell cell--md-2" href="{{ page.permalink }}">
      <h2 class="padding hover dots-shifted">
        <span class="challenge__date">{{ page.date }}</span>
        {{ page.title }}
      </h2>
      {% if page.extra.image %}
        {# Create a tiny image to set as the background before lazy images load #}
        {% set image_path = page.extra.image %}
        {% set tiny_image = resize_image(path = image_path, op = "scale", width = 13, height = 7) %}

        <div class="hover challenge__image dots" style="background-image: url('{{ tiny_image.url }}');">
          {# Add lazy loading for images below the fold #}
          {# Keep the first four images eager #}
          {% if loop.index < 5 %}
            <img src="{{ image_path }}" alt="{{ page.title }}">
          {%else%}
            <img src="{{ image_path }}" loading="lazy" >
          {% endif %}
        </div>
      {% endif %}
    </a>
  {% endfor %}
</div>

{% endblock %}
