{% extends "base.html" %}

{% block content %}

<div class="cell cell--4 padding">
  <h1>Creative Coding Amsterdam</h1>
</div>

{% include 'partials/spotlight.html' %}

<div class="cell cell--md-2">
  <div class="content padding">
    <h3>About us</h3>
    <p>
      Creative Coding Amsterdam is a community for anyone fascinated by the
      <strong>creative</strong> side of programming - or even the broader world
      of art and technology.
    </p>
    <p>
      It's a welcoming space for beginners and advanced coders alike, whether
      you're a professional or just coding for
      <strong>fun</strong>.
    </p>
    <p>
      We host informal events where you can connect with other creative coding
      enthusiasts, share your work, discover what others are creating, and even
      <strong>collaborate</strong> on projects spontaneously.
    </p>
    <p>
      Have an idea, an awesome project you'd like to showcase, or something you
      feel is missing in the creative coding community? Don't hesitate to
      <button class="home__reach-out contact-trigger"><strong>reach out</strong></button> and
      help make it happen!
    </p>
    <p>
      Join us at one of our events or connect with us online - we'd love to have
      you!
    </p>
  </div>

  {% set event_class_name = "cell" %}
  {% include 'partials/next-event.html' %}
</div>

<div class="cell cell--md-2">
  <div class="grid">
    <div class="cell padding"><h3>Where to find us</h3></div>
    <a
      href="https://www.meetup.com/creative-coding-amsterdam/"
      class="home__link home__link--meetup padding dots block cell cell--2 cell--md-4 cell--lg-2"
    >
      <b>Meetup</b>
    </a>
    <a
      href="https://discord.gg/eJJvn3487M"
      class="home__link home__link--discord padding stripes block cell cell--2 cell--md-4 cell--lg-2"
    >
      <b>Discord</b>
    </a>
    <a
      href="https://luma.com/creativecoding"
      class="home__link home__link--luma padding stripes-inverted block cell cell--2 cell--md-4 cell--lg-2"
    >
      <b>Luma</b>
    </a>
  </div>
  <div class="cell padding">
    <h3>A few photos</h3>
  </div>
  <div class="grid">
    {% set images = [
      "/img/home/meetup-1.jpg",
      "/img/home/meetup-2.jpg",
      "/img/home/meetup-3.jpg",
      "/img/home/meetup-4.jpg"
    ] %}

    {% for image in images %}
      <div class="cell cell--2">
        {% set img = resize_image(path = image, op = "scale", width = 640, height = 480) %}
        <img src="{{ img.url | safe }}" alt="" />
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
