.challenges {
}

.challenge {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: auto;
    flex-grow: 1;
  }

  &:hover h2 {
    background-color: var(--teal);
    color: var(--text-light);
  }
}

.challenge__date {
  font-size: 0.75em;
  display: block;
  opacity: 0.5;
}

.challenge__image {
  --fg: rgb(0 0 0 / 0.1);
  aspect-ratio: 1300 / 675;
}
