.footer {
  display: grid;
  gap: 1em;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1em;

  @include md {
    flex-direction: row;
  }
}

.footer a,
.footer button {
  text-decoration: underline;
  color: var(--text-color);

  &:hover {
    color: var(--red);
  }
}

.footer__title {
  font-weight: bold;
  font-size: 1.25rem;
}

.footer__disable-hover-label {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.footer__disable-hover-label:has(input:focus-visible) {
  outline: 2px solid var(--red);
}

.footer__disable-hover-input {
  position: absolute;
  left: -1000vw;
  opacity: 0;
}

.footer__disable-hover-checkbox {
  width: 1.25em;
  height: 1.25em;
  display: block;
  border: var(--border-width) solid var(--border-color);
  text-align: center;
}

.footer__disable-hover-checkbox span {
  display: none;
  top: -0.25em;
  position: relative;
}

.footer__disable-hover-input:checked + .footer__disable-hover-checkbox span {
  display: block;
}
