.header {
  position: relative;
  display: flex;
  justify-content: space-between;

  @include lg {
    background-image: var(--noise-image);
    background-repeat: repeat;
    background-size: 250px 250px;
    background-color: var(--body-bg);
  }
}

.scrolled .header {
  @include lg {
    z-index: 10;
    position: sticky;
    top: 1rem;
  }
}

.header__home-link {
  flex-shrink: 0;
  padding: 1rem;

  @include md {
    padding: 1rem 2rem;
  }
}

.header__logo {
  width: 4rem;

  path:nth-child(1),
  path:nth-child(2) {
    fill: var(--text);
  }

  @include md {
    width: 5rem;
  }
}

.header__menu-trigger {
  padding: 1rem;
  width: 4.5rem;
}

.header__menu-trigger span:nth-child(2) {
  display: none;
}

.menu-open {
  .header__menu-trigger span:nth-child(1) {
    display: none;
  }

  .header__menu-trigger span:nth-child(2) {
    display: block;
  }
}

.header__nav-item {
  --bg: transparent;
  --fg: transparent;

  color: inherit;
  display: grid;
  place-items: center;
  padding: 0 0.75rem;
  font-weight: bold;
  font-size: 0.875em;
  text-decoration: none;
  background-color: var(--bg);
  text-align: center;

  &:hover {
    --bg: #5e64da;
    --fg: rgb(255 255 255 / 0.1);
    color: var(--text-light);
  }
}

.header__menu {
  display: none;
  align-items: flex-start;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows 1000ms,
    display 1000ms;
  transition-behavior: allow-discrete;
  overflow: hidden;

  @include md {
    grid-template-rows: 0fr !important;
    display: none !important;
  }

  .menu-open & {
    @starting-style {
      grid-template-rows: 0fr;
    }

    display: grid;
    grid-template-rows: 1fr;
  }
}

.header__menu-inner {
  overflow: hidden;
}

.header__menu .header__nav-item {
  width: 100%;
  padding: 1rem;
}
