.spotlight {
  --fg: rgb(0 0 0 / 0.1);
  aspect-ratio: 16 / 9;

  @include xxl {
    max-width: 100%;
    flex-basis: 100%;
    margin-right: -25%;
  }
}

.spotlight img,
.spotlight video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.spotlight iframe {
  width: 100%;
  height: 100%;
}

.spotlight__pause {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  padding: 0.5em;
  background-color: var(--yellow);
  color: var(--text-dark);
}
