<footer class="footer hover padding">
  <div class="footer__title">Creative Coding Amsterdam</div>

  <div class="footer__links">
    <ul>
      <li><a href="/events/">Events</a></li>
      <li><a href="/code-challenges/">Code Challenges</a></li>
      <li><a href="/about/">About</a></li>
      <li><button class="contact-trigger">Contact</button></li>
    </ul>
    <ul>
      <li><a href="https://discord.gg/eJJvn3487M">Discord</a></li>
      <li>
        <a href="https://www.meetup.com/creative-coding-amsterdam/">Meetup</a>
      </li>
      <li><a href="https://luma.com/creativecoding">Luma</a></li>
      <li><a href="https://github.com/stanko/cca">GitHub</a></li>
    </ul>
  </div>

  <div>
    <label class="block footer__disable-hover-label">
      <input type="checkbox" class="footer__disable-hover-input" />
      <div class="footer__disable-hover-checkbox"><span>x</span></div>
      Disable the hover effect
    </label>
  </div>
</footer>
