<header class="header border">
  <a href="/" aria-title="Back to homepage" class="header__home-link hover">
    {% include "partials/logo.html" %}
  </a>

  <button class="header__menu-trigger hide--md hover">
    <span>Menu</span>
    <span aria-label="Close menu">X</span>
  </button>

  <nav class="header__nav border hide flex--md">
    <a href="/events/" class="header__nav-item hover block stripes">Events</a>
    <a href="/code-challenges/" class="header__nav-item hover block dots"
      >Code Challenges</a
    >
    <a href="/about/" class="header__nav-item hover block stripes-inverted">About</a>
    <button
      class="header__nav-item contact-trigger hover block dots-shifted"
    >
      Contact
    </button>
  </nav>
</header>

<div class="header__menu bor der">
  <nav class="header__menu-inner">
    <a href="/events/" class="header__nav-item hover block stripes">Events</a>
    <a href="/code-challenges/" class="header__nav-item hover block dots"
      >Code Challenges</a
    >
    <a href="/about/" class="header__nav-item hover block stripes-inverted">About</a>
    <button
      class="header__nav-item contact-trigger hover block dots-shifted"
    >
      Contact
    </button>
  </nav>
</div>
